html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html {
  overflow-y: hidden;
}

nav,
footer {
  background-color: black;
  color: aliceblue;
}

nav .navbar-brand,
nav .nav-link {
  color: aliceblue;
}

nav .navbar-toggler {
  border-color: rgba(225, 225, 225, 0.55);
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

section,
footer {
  padding-top: 2.5rem;
  padding-bottom: 2.25rem;
}

.hero {
  height: 60%;
  min-height: 60%;
}

.hero-inner {
  height: 100%;
}

.btn.btn-black {
  color: aliceblue;
  background-color: black;
  border-color: #b0b0b0;
}

.btn-black:hover {
  color: aliceblue;
  background-color: #303030;
  border-color: black;
}

.btn-black:focus {
  color: aliceblue;
  background-color: #202020;
  border-color: #101010;
  box-shadow: 0 0 0 0.25rem #b0b0b0;
}

.btn-black:focus:active {
  color: aliceblue;
  background-color: #202020;
  border-color: black;
  box-shadow: 0 0 0 0.25rem #b0b0b0;
}

.btn.btn-red {
  color: aliceblue;
  background-color: crimson;
  border-color: #f7a3b3;
}

.btn-red:hover {
  color: aliceblue;
  background-color: #f13e60;
  border-color: #f7a3b3;
}

.btn-red:focus {
  color: aliceblue;
  background-color: #f37c92;
  border-color: #f9c4ce;
  box-shadow: 0 0 0 0.25rem #f7a3b3;
}

.btn-red:focus:active {
  color: aliceblue;
  background-color: #f37c92;
  border-color: #f9c4ce;
  box-shadow: 0 0 0 0.25rem #f7a3b3;
}

.asteriskField {
  color: red;
}