{% extends 'site_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/about.css' %}">
{% endblock %}

{% block title %}
<title>About {{ conference.basename }}</title>
{% endblock %}

{% block hero %}
<header class="hero home">
  <div class="hero-inner container d-flex justify-content-center align-items-center pb-4">
    <h1 class="text-center">About {{ conference.basename }}</h1>
  </div>
</header>
{% endblock %}
