{% extends 'site_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/conduct.css' %}">
{% endblock %}

{% block title %}
<title>Code of Conduct | {{ conference.get_fullname }}</title>
{% endblock %}

{% block hero %}
<header class="hero home">
  <div class="hero-inner container d-flex justify-content-center align-items-center pb-4">
    <h1 class="text-center">Our Code of Conduct</h1>
  </div>
</header>
{% endblock %}
