{% extends 'site_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/sponsors.css' %}">
{% endblock %}

{% block title %}
<title>Sponsor {{ conference.basename }}</title>
{% endblock %}

{% block hero %}
<header class="hero home">
  <div class="hero-inner container d-flex justify-content-center align-items-center pb-4">
    <h1 class="text-center">Our Sponsors</h1>
  </div>
</header>
<section>
  <div class="text-center">
    <a href="" class="btn btn-black">Sponsor {{ conference.basename }}</a>
  </div>
</section>
{% endblock %}
