{% extends 'site_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Update Talk | {{ conference.get_fullname }}</title>
{% endblock %}

{% block main %}
<section>
  <div class="container">

    <h1 class="h3">Edit Talk</h1>

    <div class="row justify-content-center align-items-center">
      <div class="col-sm-10 col-lg-8">
        <form method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="text-center">
          <input type="submit" value="Update Talk" class="btn btn-black px-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
