{% extends 'site_base.html' %}

{% block title %}
<title>Talk Proposal Deleted | {{ conference.get_fullname }}</title>
{% endblock %}

{% block main %}
<section>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        {% if 'talk_title' in message.tags.split %}
          <div class="alert alert-success" role="alert">
            You've just deleted your talk titled, <strong><q>{{ message }}</q></strong>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="alert alert-success" role="alert">
        Run along, there's nothing to see here! &#x1F47B;
      </div>
    {% endif %}
      </p>
    </div>
  </div>
</section>
{% endblock %}
