{% extends 'site_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/talk_delete.css' %}">
{% endblock %}

{% block title %}
<title>Delete Talk Proposal | {{ conference.get_fullname }}</title>
{% endblock %}

{% block main %}
<section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-10 col-lg-8">
        <div class="alert alert-danger p-4" role="alert">
          <p>You are asking to delete your talk, <strong><q>{{ talk.title }}</q></strong>.</p>
          <p>This action is permanent, and cannot be undone. If this is not what you want to do please leave this page at once.</p>
          <p>Enter <strong>{{ user.email }}</strong> in the form field below to confirm you really want to delete this talk.</p>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center">
              <input type="submit" value="Confirm Delete" class="btn btn-red px-4">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
