{% extends 'site_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/talk_read.css' %}">
{% endblock %}

{% block title %}
<title>Talk Proposal | {{ conference.get_fullname }}</title>
{% endblock %}


{% block main %}
<section>
  <div class="container">

    <h1 class="h3">Talk Detail</h1>

    <span class="heading text-muted">Author Name</span>
    <pre><code>{{ talk.author_name }}</code></pre>

    <span class="heading text-muted">Talk Title</span>
    <pre><code>{{ talk.title }}</code></pre>

    <span class="heading text-muted">Talk Category</span>
    <pre><code>{{ talk.get_category_display }}</code></pre>

    <span class="heading text-muted">Talk Level</span>
    <pre><code>{{ talk.get_level_display }}</code></pre>

    <span class="heading text-muted">Abstract</span>
    <pre><code>{{ talk.abstract }}</code></pre>

    <span class="heading text-muted">Additional Notes</span>
    <pre><code>{{ talk.get_additional_notes }}</code></pre>

    <div class="actions d-flex flex-wrap justify-content-center align-items-center">
      <a
        href="{% url 'talk_update' conference_pk=conference.pk talk_pk=talk.pk %}"
        class="btn btn-black px-4 my-1 mx-2"
        >
        Edit Talk
      </a>
      <a
        href="{% url 'talk_delete' conference_pk=conference.pk talk_pk=talk.pk %}"
        class="btn btn-red px-4 my-1 mx-2"
        >
        Delete Talk
        <small>(confirmation required)</small>
      </a>
    </div>
  </div>
</section>
{% endblock %}
