span.heading {
  display: block;
  margin-bottom: 0.36rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.heading + pre {
  border: 1px solid #00000040;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: ghostwhite;
  white-space: pre-wrap;
  word-wrap: break-word;
}