{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>{{ conference.get_fullname }}</title>
    {% endblock %}

    <!-- CSS: Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS: site base -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_base.css' %}">

    <!-- CSS: extra -->
    {% block extra_css %}
    {% endblock %}


  </head>
  <body class="d-flex flex-column">

    {% block navigation %}
    <nav class="navbar navbar-expand-md">
      <div class="container">
        <a
          class="navbar-brand"
          href="{% url 'home' conference_pk=conference.year %}"
          >
          {{ conference.get_fullname }}
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
          >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'home' conference_pk=conference.year %}"
                >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'about' conference_pk=conference.year %}"
                >
                About
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'sponsors' conference_pk=conference.year %}"
                >
                Sponsors
              </a>
            </li>
            <li  class="nav-item dropdown">
              <a
                href=""
                class="nav-link dropdown-toggle"
                id="speakingDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Speaking
              </a>
              <div class="dropdown-menu" aria-labelledby="speakingDropdown">
                <a
                  class="dropdown-item"
                  href="{% url 'talk_create' conference_pk=conference.year %}"
                  >
                  Propose a Talk
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'conduct' conference_pk=conference.year %}"
                >
                Conduct
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block hero %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    <footer class="mt-auto">
      <div class="footer-inner container d-flex justify-content-center align-items-center">
        <span>Made by <a href="https://twitter.com/mfonism">@mfonism</a></span>
      </div>
    </footer>
    {% endblock %}

    <!-- JS: jQuery + Popper + Bootstrap -->
    <script src="http://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
